<div class="container mt-2 text-center">
        <h1>Vista de Administrador</h1>
        <img class="img-fluid" src="public/img/bodeapp.png" alt="BodeApp Logo" width="200" height="200">
        <hr class="w-50 container" />
    </div>
    <div class="container mt-2 text-center w-60">
        <div class="row">
            <div class="col-12 d-grid gap-2 d-block mx-auto">
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/add_items"><button type="button" class="btn btn-success">Agregar Insumos</button></a>
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/add_storehouse"><button type="button" class="btn btn-success mt-3">Crear Bodegas</button></a>
            </div>
            <div class="col-12 mt-2 d-grid gap-2 d-block mx-auto mb-5">
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/add_area"><button type="button" class="btn btn-success mt-3">Crear Departamento</button></a>
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/stock"><button type="button" class="btn btn-success mt-3">Ver Stock</button></a>
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/permisos"><button type="button" class="btn btn-success mt-3">Dar permisos</button></a>
                <a class="col-12 d-grid gap-2 d-block mx-auto" href="/reporte"><button type="button" class="btn btn-success mt-3">Reportes</button></a>
            </div>
        </div>
    </div>