<div class="container text-center mt-2">
    <h1>Reporte Diario</h1>
    <hr class="w-50 container" />
</div>
<div class="container mt-2">
    <form action="">
        <label class="form-label">Selecciona una Fecha:</label>
        <input name="date" id="date" type="date" value="" required/>
        <button type="button" class="btn btn-primary mt-2">Mostrar reporte</button>
    </form>
</div>

<div class="container">
    <h2 class="text-center mt-2">Ingresos a Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-primary mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">N° Bodega</th>
                    <th scope="col">Unidades Ingesadas</th>
                    <th scope="col">Fecha de ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">BRANULA 16G</th>
                    <td>ENDOVENOSO</td>
                    <td>2</td>
                    <td>10</td>
                    <td>05-05-2022</td>
                    </tr>
                    <tr>
                    <th scope="row">MASCARILLA VENTURI PEDIATRICA</th>
                    <td>QUIRURGICO</td>
                    <td>2</td>
                    <td>10</td>
                    <td>06-05-2022</td>
                    </tr>
                    <tr>
                    <th scope="row">GUANTES ESTÉRILES 8.0</th>
                    <td>EPP</td>
                    <td>3</td>
                    <td>10</td>
                    <td>010-05-2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center mt-2">Retiros de Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-danger mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">N° Bodega</th>
                    <th scope="col">Unidades Entegadas</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Fecha de Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">BRANULA 16G</th>
                    <td>ENDOVENOSO</td>
                    <td>2</td>
                    <td>10</td>
                    <td>Ignacio</td>
                    <td>05-05-2022</td>
                    </tr>
                    <tr>
                    <th scope="row">MASCARILLA VENTURI PEDIATRICA</th>
                    <td>QUIRURGICO</td>
                    <td>2</td>
                    <td>30</td>
                    <td>Yessenia</td>
                    <td>06-05-2022</td>
                    </tr>
                    <tr>
                    <th scope="row">GUANTES ESTÉRILES 8.0</th>
                    <td>EPP</td>
                    <td>3</td>
                    <td>15</td>
                    <td>Jessica</td>
                    <td>10-05-2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mb-5 text-center mt-2">
    <a class="btn btn-success" href="/" role="button">Volver</a>
</div>




<script>
    const date = new Date().toISOString().slice(0,10)
    const input = document.getElementById("date")
    const dateFunction = () => {
        input.setAttribute("value", `${date}`)
    }
    dateFunction()
</script>