<div class="container text-center mt-3">
    <h1>Entregar insumos a Departamentos</h1>
</div>
<hr class="w-50 container" />

<form class="container mt-4 w-55 mb-3 align-items-center" action="">
    <div class="row">
        <div class="col-10">
        <label class="form-label">Busca un insumo:</label>
        <input class="form-control" list="datalistOptions" name="product">
            <datalist id="datalistOptions">
            <option value="BRANULA 16G"></option>
            <option value="MASCARILLA VENTURI PEDIATRICA"></option>
            <option value="GUANTES ESTÉRILES 8.0"></option>
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-4">
            <label class="form-label">Cantidad:</label>
            <input name="units" type="number" min="0" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-8">
        <label class="form-label">Area que recibe:</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un departamento</option>
            <option value="1">POLICLINICO</option>
            <option value="2">OFTALMOLOGÍA</option>
            <option value="3">TRAUMA OCULAR</option>
            <option value="4">SALA HOSPITALIZADOS</option>
            <option value="5">PABELLÓN</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-8">
            <label class="form-label">¿Quién retira?:</label>
            <input name="name" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="mt-3">
        <label class="form-label">Fecha de Salida:</label>
        <input name="date" id="date" type="date" value="2022-05-06" required/>
    </div>
  <button class="btn btn-primary mt-3 mb-5">Añadir a Stock</button>
    <a href="/storekeeper"><button type="button" class="btn btn-primary mt-3 mb-5" >Volver</button></a>
</form>
<script>
    const date = new Date().toISOString().slice(0,10)
    const input = document.getElementById("date")
    const dateFunction = () => {
        input.setAttribute("value", `${date}`)
    }
    dateFunction()
</script>