<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
    <div class="container mt-3 col-7 text-center">
        <img class="img-fluid" src="public/img/bodeapp.png" alt="logo BodeApp" width="200" height="200">
    </div>
    <div class="container mt-3 text-center">
        <a href="/login"><button type="button" class="btn btn-primary">Iniciar Sesión</button></a>
        <a href="/signon"><button type="button" class="btn btn-success">Registrarse</button></a>
    </div>
</body>
</html>