<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/img/bodeapp.png" type="image/x-icon">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <title>BodeApp - Manejando tu inventario</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="/">
      <img src="public/img/bodeapplogo.png" alt="logo BodeApp" width="30" height="24" class="d-inline-block align-text-top">
      BodeApp
    </a>
  </div>
</nav>
</body>
</html>