<div class="container text-center mt-2">
    <h1>Reporte mensual</h1>
    <hr class="w-50 container" />
</div>

<div class="container">
    <form action="/show" method="post">
        <div class="row">
        <div class="mt-3 col-8">
            <label class="form-label">Selecciona un mes:</label>
            <select class="form-select mt-2" aria-label="Default select example" required>
                <option selected>Selecciona un mes</option>
                <option value="1">Abril</option>
                <option value="2">Mayo</option>
                <option value="3">Junio</option>
            </select>
        </div>
    </div>
        <button type="button" class="btn btn-primary mt-2">Mostrar reporte</button>
    </form>
</div>


<div class="container">
    <h2 class="text-center mt-2">Ingresos a Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-primary mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">N° Bodega</th>
                    <th scope="col">Unidades Ingesadas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">BRANULA 16G</th>
                    <td>ENDOVENOSO</td>
                    <td>2</td>
                    <td>10</td>
                    </tr>
                    <tr>
                    <th scope="row">MASCARILLA VENTURI PEDIATRICA</th>
                    <td>QUIRURGICO</td>
                    <td>2</td>
                    <td>10</td>
                    </tr>
                    <tr>
                    <th scope="row">GUANTES ESTÉRILES 8.0</th>
                    <td>EPP</td>
                    <td>3</td>
                    <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center mt-2">Retiros de Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-danger mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">N° Bodega</th>
                    <th scope="col">Unidades Entegadas</th>
                    <th scope="col">Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">BRANULA 16G</th>
                    <td>ENDOVENOSO</td>
                    <td>2</td>
                    <td>10</td>
                    <td>Ignacio</td>
                    </tr>
                    <tr>
                    <th scope="row">MASCARILLA VENTURI PEDIATRICA</th>
                    <td>QUIRURGICO</td>
                    <td>2</td>
                    <td>30</td>
                    <td>Yessenia</td>
                    </tr>
                    <tr>
                    <th scope="row">GUANTES ESTÉRILES 8.0</th>
                    <td>EPP</td>
                    <td>3</td>
                    <td>15</td>
                    <td>Jessica</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mb-5 text-center mt-2">
    <a class="btn btn-success" href="/" role="button">Volver</a>
</div>