
<div class="container text-center mt-3">
    <h1>Añadir insumos a Bodega</h1>
</div>
<hr class="w-50 container" />

<form class="container mt-4" action="">
    <label class="form-label">Selecciona un insumo:</label>
    <select class="form-select" name="name">
        <option value="selected">Seleccione un insumo</option>
        <option value="1">BRANULA 16G</option>
        <option value="2">MASCARILLA VENTURI PEDIATRICA</option>
        <option value="2">GUANTES ESTÉRILES 8.0</option>
    </select>
    <div class="mt-3">
        <label class="form-label">Cantidad:</label>
        <input name="units" type="number" min="0" class="form-control" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Fecha de Ingreso:</label>
        <input name="date" id="date" type="date" value="2022-05-06" required/>
    </div>
  <button class="btn btn-primary mt-3">Añador a Stock</button>
    <a href="/storekeeper"><button type="button" class="btn btn-primary mt-3" >Volver</button></a>
</form>
<script>
    const date = new Date().toISOString().slice(0,10)
    const input = document.getElementById("date")
    const dateFunction = () => {
        input.setAttribute("value", `${date}`)
    }
    dateFunction()
</script>